body{
    font-family: Roboto, Arial;
    margin: 80px 0 0 0;
    background-color: rgb(255, 240, 212);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(223, 210, 186);
    z-index: 101;

}

header h2{
    margin: 4px;
}

.container, .technology{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology{
    width: 90%;
    border-radius: 20px;
    margin: 10px 0;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.095);
    justify-content: center;
}
.technology img,
.technology video{
    width: 95%;
    height: 540px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 8px;
}
.technology h3{
    margin: 0 0 10px 0;
}
#vid{
    width: fit-content;
    padding-top: 36px;
}